@model prjREMAX.ViewModels.PropertyFormViewModel
@{
    ViewBag.Title = "Create Listing";
}

<h2>Create A New Listing</h2>
<hr />
@using (Html.BeginForm("Create", "Property"))
{
    <form>
        <h4>Property Title</h4>
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.PropertyName)
                    @Html.TextBoxFor(m => m.PropertyName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PropertyName)
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(m => m.Price)
                    @Html.Label("$")@Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Price)
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(m => m.Date)
                    @Html.TextBoxFor(m => m.Date, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Date)
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(m => m.Time)
                    @Html.TextBoxFor(m => m.Time, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Time)
                </div>
            </div>
        </div>
        <hr />
        <h4>Property Details</h4>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(m => m.Description)
                    @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Description)
                    <br />
                    @Html.Label("Year Built")
                    @Html.TextBoxFor(m => m.Year, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Year)
                </div>
            </div>
        </div>
        <hr />
        <h4>Property Address</h4>
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    @Html.Label("Civic Number")
                    @Html.TextBoxFor(m => m.CivicNumber, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.CivicNumber)
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(m => m.Street)
                    @Html.TextBoxFor(m => m.Street, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Street)
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(m => m.City)
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.City)
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(m => m.Province)
                    @Html.TextBoxFor(m => m.Province, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Province)
                </div>
                <div class="col-md-3">
                    <br />
                    @Html.LabelFor(m => m.Zipcode)
                    @Html.TextBoxFor(m => m.Zipcode, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Zipcode)
                </div>
            </div>
        </div>
        <hr />
        <h4>Property Specifications</h4>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Rooms)
                    @Html.TextBoxFor(m => m.Rooms, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Rooms)
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Bathrooms)
                    @Html.TextBoxFor(m => m.Bathrooms, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Bathrooms)
                </div>
                <div class="col-md-4">
                    @Html.Label("Size SF : Square Feet")
                    @Html.TextBoxFor(m => m.Size, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Size)
                </div>
            </div>
        </div>
        <hr />
        <h4>Additional Property Specification</h4>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    @Html.Label("Type ")
                    @Html.DropDownListFor(m => m.Type, new SelectList(Model.Types, "Id", "Name"), "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Type)
                </div>
                <div class="col-md-6">
                    @Html.Label("Status ")
                    @Html.DropDownListFor(m => m.Status, new SelectList(Model.Statuses, "Id", "Name"), "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Status)
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save New Property</button>
        </div>
    </form>
}
@section scripts
{
    <!-- JQuery Validation to display Error Messages -->
    @Scripts.Render("~/bundles/jqueryval")
}
