@using System.Web.UI.WebControls
@using prjREMAX.Models
@model IEnumerable<prjREMAX.Models.Property>
@{
    ViewBag.Title = "Home Page";
}
<ul>
    @foreach (var property in Model)
    {
        <li>@property.DateTime - @property.Manager.Name</li>
    }
</ul>
<div class="myJumbotron">
    <div class="fadedBox">
        <h1>Find the perfect home that best <br>suits your needs and taste</h1>
        <p>Credible reputation in helping families for 20 years & counting</p>

        <p>
            @Html.ActionLink("Sign Up Today, It's Free !", "Register", "Account", routeValues: null, htmlAttributes: new { id = "rgstrLink", @class = "btn btn-primary btn-lg" })
        </p>
    </div>
</div>

<div class="rowDelayed">

    <ul class="properties">
        @foreach (var property in Model)
        {
            <li>
                <div>
                    <img src="~/Images/@(property.PropertyId).jpg">
                    <div class="details">
                        <h2>@property.PropertyName - @property.Price $</h2>
                        <p>@property.Description</p>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
